body {
    margin: 0;
}

.footer {
    background-color: #4a5497;
    color: #fafafc;
    padding: 20px 90px;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-divider {
    border: none;
    border-top: 1px solid #fafafc;
    margin: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.footer-left {
    font-size: 16px;
}

.footer-right a {
    color: #fafafc;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-right a:hover {
    text-decoration: underline;
}

.logo-footer {
    width: 35px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(210deg) brightness(105%) contrast(90%);
}


@media (max-width: 600px) {
    .footer {
        padding: 10px 20px;
    }

    .footer-bottom {
        align-items: center;
    }
}